h1 {
    text-align: center;
    color: brown;
}

p {
    text-align: center;
}

.container-prices {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

a {
    display: flex;
    justify-content: center;
}